$main-text-color: #002240;
$sub-text-color: #537089;
$saleswhale-blue: #0688FA;

#hero-section {

  img {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    gap: 100px;
    color: $main-text-color;

    h1 {  
      font-size: 58px;
      font-weight: bold;
      line-height: 62px;
    }

    .paragraph {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

#culture-section {
  margin: 150px 0 60px 0;

  h1 {
    text-align: center;
    color: $main-text-color;
    font-size: 58px;
    font-weight: bold;
  }

  .sub-header {
    text-align: center;
    font-size: 21px;
    color: $sub-text-color;
    margin: 30px 0 60px 0;
  }

  .culture-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;

    h4 {
      margin: 20px 0 20px 0;
      color: $main-text-color;
      font-size: 21px;
      font-weight: bold;
    }
  }

  .cta {
    font-size: 21px;
    margin: 100px 0 60px 0;
    text-align: center;
    color: $main-text-color;
  }

  .btn {
    border-radius: 15px;
    position: relative;
    left: 42%;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: bold;
  }

}

#progress-section {

  h1 {
    text-align: center;
    color: $main-text-color;
    font-size: 58px;
    font-weight: bold;
    margin: 150px 0 65px 0;
  }

  .progress-container {
    background: #EFF8FF;
    border-radius: 20px;
    width: 1205px;
    height: 879px;
    margin-bottom: 100px;

    .blue-line {
      position: relative;
      width: 0px;
      height: 879px;
      left: 260px;
      bottom: 400px;
      border: 3px solid $saleswhale-blue;
    }

    .fifteen {
      position: relative;
      left: 120px;
      top: 120px;
    }

    .sixteen {
      position: relative;
      left: 120px;
      top: 185px;
    }

    .seventeen {
      position: relative;
      left: 120px;
      top: 250px;
    }

    .nineteen {
      position: relative;
      left: 120px;
      top: 315px;
    }

    .twenty {
      position: relative;
      left: 120px;
      top: 380px;
    }

    .year {
      font-weight: bold;
      font-size: 26px;
      color: $saleswhale-blue;
    }

    img {
      position: relative;
      left: 45px;
      z-index: 1;
    }

    .info {
      position: relative;
      left: 80px;
      font-weight: 600;
      font-size: 26px;
      color: $main-text-color;
    }
  }
}