#hero-section {
  margin-top: 2rem;
  overflow-x: hidden;
}

#hero-section img {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#hero-section .hero-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  gap: 100px;
  color: #002240;
}

#hero-section .hero-container h1 {
  font-size: 58px;
  font-weight: bold;
  line-height: 62px;
}

#hero-section .hero-container .paragraph {
  font-size: 18px;
  line-height: 32px;
}

#culture-section {
  overflow-x: hidden;
}

#culture-section .sub-header {
  text-align: center;
  font-size: 21px;
  color: #537089;
  margin: 30px 0 60px 0;
}

#culture-section .culture-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 55px;
}

#culture-section .culture-container h4 {
  margin: 20px 0 20px 0;
  color: #002240;
  font-size: 21px;
  font-weight: bold;
}

#culture-section .cta {
  font-size: 21px;
  margin: 100px 0 60px 0;
  text-align: center;
  color: #002240;
}

#culture-section .btn {
  border-radius: 15px;
  position: relative;
  left: 42%;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
}

#progress-section {
  overflow: hidden;
}

#progress-section .progress-container {
  position: relative;
  background: #EFF8FF;
  border-radius: 20px;
  width: 100%;
  height: 879px;
  margin-bottom: 100px;
}

#progress-section .progress-container .blue-line {
  position: relative;
  width: 0px;
  height: 100%;
  left: 190px;
  bottom: 400px;
  border: 2px solid #0688FA;
}

#progress-section .progress-container .fifteen {
  position: relative;
  left: 50px;
  top: 110px;
}

#progress-section .progress-container .sixteen {
  position: relative;
  left: 50px;
  top: 175px;
}

#progress-section .progress-container .seventeen {
  position: relative;
  left: 50px;
  top: 240px;
}

#progress-section .progress-container .nineteen {
  position: relative;
  left: 50px;
  top: 305px;
}

#progress-section .progress-container .twenty {
  position: relative;
  left: 50px;
  top: 370px;
}

#progress-section .progress-container .year {
  font-weight: bold;
  font-size: 26px;
  color: #0688FA;
}

#progress-section .progress-container img {
  position: relative;
  left: 45px;
  z-index: 1;
}

#progress-section .progress-container .info {
  position: relative;
  width: 70%;
  left: 80px;
  font-weight: 600;
  font-size: 26px;
  color: #002240;
}

#office-section {
  overflow-x: hidden;
}

#office-section .office-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#office-section .office-1 {
  width: 528px;
  height: 283px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: center;
  margin-right: 80px;
}

#office-section .office-1 img {
  margin: 35px 0 25px 0;
}

#office-section .office-1 h2 {
  font-weight: bold;
  font-size: 32px;
  color: #002240;
}

#office-section .office-1 p {
  font-size: 18px;
  line-height: 32px;
  color: #002240;
}

#office-section .office-2 {
  width: 528px;
  height: 283px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: center;
}

#office-section .office-2 img {
  margin: 35px 0 25px 0;
}

#office-section .office-2 h2 {
  font-weight: bold;
  font-size: 32px;
  color: #002240;
}

#office-section .office-2 p {
  font-size: 18px;
  line-height: 32px;
  color: #002240;
}

.bg-img-1 {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 3350px;
  z-index: -1;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.bg-img-2 {
  position: absolute;
  width: 100%;
  height: 65%;
  z-index: -1;
  top: 3700px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#investor-section {
  margin-bottom: 150px;
  overflow-x: hidden;
}

#investor-section .investor-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 65px;
  width: 100%;
}

#investor-section .card {
  width: 528px;
  height: 283px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: center;
}

#investor-section .card-1 {
  margin-right: 80px;
}

#investor-section .card-1 img {
  position: relative;
  width: 358px;
  height: 101px;
  left: 15%;
  top: 30%;
}

#investor-section .card-2 img {
  position: relative;
  top: 20%;
}

#investor-section .investor-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#investor-section .card-3 {
  margin-right: 80px;
}

#investor-section .card-3 img {
  position: relative;
  top: 35%;
}

#investor-section .card-4 img {
  position: relative;
  top: 20%;
}

.titles {
  text-align: center;
  color: #002240;
  font-size: 58px;
  font-weight: bold;
  margin: 150px 0 65px 0;
}

#future-section {
  margin-bottom: 100px;
  overflow-x: hidden;
}

#future-section .future-container {
  position: relative;
  background: #329DFA;
  max-width: 1300px;
  height: 400px;
  margin: 0 auto 0 auto;
  border-radius: 20px;
  text-align: center;
}

#future-section .future-container h1 {
  position: relative;
  text-align: center;
  top: 125px;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
}

#future-section .future-container button {
  position: relative;
  top: 150px;
  width: 270px;
  height: 62px;
  border-radius: 20px;
  font-weight: bold;
}

#future-section .future-container .btn-light {
  margin-right: 20px;
}

@media all and (max-width: 1199px) {
  #progress-section .progress-container .blue-line {
    bottom: 491px;
  }
  #progress-section .progress-container .year {
    position: relative;
    bottom: 50px;
  }
  #progress-section .progress-container img {
    bottom: 50px;
  }
  #progress-section .progress-container .info {
    display: inline-block;
    bottom: 25px;
  }
  .bg-img-1 {
    width: 100%;
    top: 3480px;
    overflow-x: hidden;
  }
  .bg-img-2 {
    width: 100%;
    top: 3790px;
    overflow-x: hidden;
  }
}

@media all and (max-width: 991px) {
  #progress-section {
    overflow: hidden;
  }
  #progress-section .progress-container {
    position: absolute;
    padding-right: 50px;
    left: 0;
    width: 100%;
  }
  #progress-section .progress-container .blue-line {
    bottom: 514px;
  }
  #office-section {
    margin-top: 900px;
  }
  #investor-section .card-1 img {
    width: 75%;
  }
  .bg-img-1 {
    top: 3400px;
  }
  .bg-img-2 {
    top: 3720px;
  }
}

@media all and (max-width: 767px) {
  #hero-section .hero-container {
    gap: 50px;
  }
  #hero-section .hero-container h1 {
    font-size: 46px;
  }
  #progress-section .progress-container {
    padding-right: 115px;
  }
  #progress-section .progress-container .blue-line {
    bottom: 440px;
  }
  #progress-section .progress-container .info {
    font-size: 20px;
  }
  #office-section .office-1 {
    margin-right: 50px;
  }
  #investor-section .card-1 {
    margin-right: 50px;
  }
  #investor-section .card-3 {
    margin-right: 50px;
  }
  .bg-img-1 {
    top: 3600px;
  }
  .bg-img-2 {
    top: 4000px;
  }
}

@media all and (max-width: 592px) {
  #hero-section img {
    position: relative;
    width: 100%;
    height: 200px;
  }
  #hero-section .hero-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 200px 1fr;
        grid-template-rows: 200px 1fr;
    gap: 20px;
  }
  #progress-section .progress-container .blue-line {
    position: absolute;
    left: 134px;
    bottom: 0;
  }
  #progress-section .progress-container .year {
    font-size: 20px;
  }
  #progress-section .progress-container .fifteen {
    left: 25px;
  }
  #progress-section .progress-container .fifteen img {
    bottom: 25px;
  }
  #progress-section .progress-container .sixteen {
    left: 25px;
    top: 180px;
  }
  #progress-section .progress-container .sixteen img {
    bottom: 25px;
  }
  #progress-section .progress-container .seventeen {
    left: 25px;
    top: 250px;
  }
  #progress-section .progress-container .seventeen img {
    bottom: 25px;
  }
  #progress-section .progress-container .nineteen {
    left: 25px;
    top: 335px;
  }
  #progress-section .progress-container .nineteen img {
    bottom: 25px;
  }
  #progress-section .progress-container .nineteen .info {
    bottom: 35px;
  }
  #progress-section .progress-container .twenty {
    left: 25px;
    top: 400px;
  }
  #progress-section .progress-container .twenty img {
    bottom: 25px;
  }
  #progress-section .progress-container img {
    position: absolute;
    left: 70px;
  }
  #progress-section .progress-container .info {
    left: 135px;
    bottom: 25px;
  }
  #culture-section .culture-container {
    gap: 20px;
  }
  #culture-section .btn {
    left: 34%;
  }
  #office-section {
    overflow: hidden;
    padding-bottom: 50px;
  }
  #office-section .office-container .office-1 {
    margin-right: 20px;
  }
  #office-section .office-container h2 {
    font-size: 26px;
  }
  #office-section .office-container p {
    font-size: 16px;
  }
  #investor-section .card-1 {
    margin-right: 20px;
  }
  #investor-section .card-1 img {
    left: 5%;
    width: 90%;
  }
  #investor-section .card-3 {
    margin-right: 20px;
  }
  #future-section .future-container .btn-light {
    position: relative;
    left: 2%;
  }
  #future-section .future-container .btn-outline-light {
    position: relative;
    margin-top: 20px;
  }
  .bg-img-1 {
    top: 3700px;
  }
  .bg-img-2 {
    top: 4100px;
  }
}

@media all and (max-width: 419px) {
  #hero-section img {
    position: absolute;
    height: 230px;
    width: 100%;
    left: 0;
  }
  #hero-section .hero-container {
    margin-top: 320px;
    gap: 50px;
  }
  #hero-section .hero-container h1 {
    font-size: 42px;
  }
  .titles {
    font-size: 40px;
  }
  p {
    font-size: 16px;
  }
  #culture-section .culture-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  #culture-section .sub-header {
    font-size: 16px;
  }
  #culture-section .cta {
    font-size: 16px;
  }
  #culture-section .btn {
    left: 27%;
  }
  #progress-section .progress-container .blue-line {
    left: 100px;
  }
  #progress-section .progress-container .year {
    font-size: 16px;
  }
  #progress-section .progress-container .info {
    font-size: 16px;
  }
  #progress-section .progress-container .fifteen {
    top: 80px;
  }
  #progress-section .progress-container .sixteen {
    top: 150px;
  }
  #progress-section .progress-container .seventeen {
    top: 250px;
  }
  #progress-section .progress-container .nineteen {
    top: 380px;
  }
  #progress-section .progress-container .twenty {
    top: 450px;
  }
  #progress-section .progress-container img {
    height: 55px;
    width: 55px;
    left: 50px;
  }
  #progress-section .progress-container .info {
    left: 90px;
    bottom: 10px;
  }
  #office-section .office-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 40px;
  }
  #office-section .office-container .office-1 {
    width: 100%;
  }
  #office-section .office-container .office-2 {
    width: 100%;
  }
  #investor-section .card {
    width: 100%;
  }
  #investor-section .investor-row-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
  }
  #investor-section .investor-row-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 40px;
  }
  #future-section .future-container h1 {
    top: 90px;
    font-size: 36px;
  }
}

@media all and (max-width: 335px) {
  #hero-section .hero-container {
    gap: 100px;
  }
  #culture-section .btn {
    left: 20%;
  }
  #progress-section .progress-container .fifteen {
    top: 50px;
  }
  #progress-section .progress-container .sixteen {
    top: 100px;
  }
  #progress-section .progress-container .seventeen {
    top: 150px;
  }
  #progress-section .progress-container .nineteen {
    top: 230px;
  }
  #progress-section .progress-container .nineteen .info {
    bottom: 0;
  }
  #progress-section .progress-container .twenty {
    top: 300px;
  }
  #progress-section .progress-container .info {
    bottom: 0;
  }
  .bg-img-1 {
    top: 4600px;
  }
  .bg-img-2 {
    top: 5100px;
  }
}
/*# sourceMappingURL=main.css.map */