#hero-section img {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#hero-section .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  gap: 100px;
  color: #002240;
}

#hero-section .grid-container h1 {
  font-size: 58px;
  font-weight: bold;
  line-height: 62px;
}

#hero-section .grid-container .paragraph {
  font-size: 18px;
  line-height: 32px;
}

#culture-section .sub-header {
  text-align: center;
  font-size: 21px;
  color: #537089;
  margin: 30px 0 60px 0;
}

#culture-section .culture-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 55px;
}

#culture-section .culture-container h4 {
  margin: 20px 0 20px 0;
  color: #002240;
  font-size: 21px;
  font-weight: bold;
}

#culture-section .cta {
  font-size: 21px;
  margin: 100px 0 60px 0;
  text-align: center;
  color: #002240;
}

#culture-section .btn {
  border-radius: 15px;
  position: relative;
  left: 42%;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
}

#progress-section .progress-container {
  position: relative;
  background: #EFF8FF;
  border-radius: 20px;
  width: 100%;
  height: 879px;
  margin-bottom: 100px;
}

#progress-section .progress-container .blue-line {
  position: relative;
  width: 0px;
  height: 100%;
  left: 190px;
  bottom: 400px;
  border: 2px solid #0688FA;
}

#progress-section .progress-container .fifteen {
  position: relative;
  left: 50px;
  top: 120px;
}

#progress-section .progress-container .sixteen {
  position: relative;
  left: 50px;
  top: 185px;
}

#progress-section .progress-container .seventeen {
  position: relative;
  left: 50px;
  top: 250px;
}

#progress-section .progress-container .nineteen {
  position: relative;
  left: 50px;
  top: 315px;
}

#progress-section .progress-container .twenty {
  position: relative;
  left: 50px;
  top: 380px;
}

#progress-section .progress-container .year {
  font-weight: bold;
  font-size: 26px;
  color: #0688FA;
}

#progress-section .progress-container img {
  position: relative;
  left: 45px;
  z-index: 1;
}

#progress-section .progress-container .info {
  position: relative;
  left: 80px;
  font-weight: 600;
  font-size: 26px;
  color: #002240;
}

#office-section .office-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#office-section .office-1 {
  width: 528px;
  height: 283px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: center;
  margin-right: 80px;
}

#office-section .office-1 img {
  margin: 35px 0 25px 0;
}

#office-section .office-1 h2 {
  font-weight: bold;
  font-size: 32px;
  color: #002240;
}

#office-section .office-1 p {
  font-size: 18px;
  line-height: 32px;
  color: #002240;
}

#office-section .office-2 {
  width: 528px;
  height: 283px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: center;
}

#office-section .office-2 img {
  margin: 35px 0 25px 0;
}

#office-section .office-2 h2 {
  font-weight: bold;
  font-size: 32px;
  color: #002240;
}

#office-section .office-2 p {
  font-size: 18px;
  line-height: 32px;
  color: #002240;
}

.bg-img-1 {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 3250px;
  z-index: -1;
  background-repeat: no-repeat;
}

.bg-img-2 {
  position: absolute;
  width: 100%;
  height: 65%;
  z-index: -1;
  top: 3650px;
  background-repeat: no-repeat;
}

#investor-section {
  margin-bottom: 150px;
}

#investor-section .investor-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 80px;
}

#investor-section .card {
  width: 528px;
  height: 283px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: center;
}

#investor-section .card-1 img {
  position: relative;
  width: 358px;
  height: 101px;
  left: 15%;
  top: 30%;
}

#investor-section .card-2 img {
  position: relative;
  top: 20%;
}

#investor-section .card-3 img {
  position: relative;
  top: 35%;
}

#investor-section .card-4 img {
  position: relative;
  top: 20%;
}

.titles {
  text-align: center;
  color: #002240;
  font-size: 58px;
  font-weight: bold;
  margin: 150px 0 65px 0;
}

#future-section {
  margin-bottom: 150px;
}

#future-section .future-container {
  position: relative;
  background: #329DFA;
  max-width: 1300px;
  height: 400px;
  margin: 0 auto 0 auto;
  border-radius: 20px;
  text-align: center;
}

#future-section .future-container h1 {
  position: relative;
  text-align: center;
  top: 125px;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
}

#future-section .future-container button {
  position: relative;
  top: 150px;
  width: 270px;
  height: 62px;
  border-radius: 20px;
  font-weight: bold;
}

#future-section .future-container .btn-light {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */