nav {
  max-width: 1020px;
  margin-left: 2rem;
  overflow-x: hidden;

  .nav-item {
    font-weight: 500;
    margin: 0 20px 0 0;
  }

  .btn-outline-primary {
    margin-right: 10px;
  }

  .navbar-brand {
    // margin-right: 7rem;
  }

  .navbar-brand.saleswhale {
    margin-left: 10px;
      font-weight: 600;
  }

  .btn {
    border-radius: 20px;
    // position: relative;
    // right: -6.7rem;
  }
}


@media all and (max-width: 991px) {
  nav {
    #navbarSupportedContent {
      text-align: right;
    }
  }
}